h1 {
  color: red;
  font-size: 100px;
  font-family: Helvetica, sans-serif;
  text-align: center;
}

body {
  background-color: white;
}

img {
    display: block;
    margin: auto;
    width: 70%;
}
